.vs/WeatherApp/DesignTimeBuild/.dtbcache.v2
.vs/WeatherApp/FileContentIndex/1a5d25e8-56f6-42ac-a5a1-c0110d787a52.vsidx
.vs/WeatherApp/FileContentIndex/4dddbf55-f755-4fd8-b15e-b1eb81f444cc.vsidx
.vs/WeatherApp/FileContentIndex/40202289-fc2c-44f2-a61c-52eec9eddb79.vsidx
.vs/WeatherApp/FileContentIndex/b3a6dc13-c385-4641-b4e9-0fb35cab35ad.vsidx
.vs/WeatherApp/FileContentIndex/e0d86728-1ed7-44a2-a6ed-64be1274151a.vsidx
.vs/WeatherApp/v17/.suo
.vs/WeatherApp/v17/DocumentLayout.json
.vs/WeatherApp/DesignTimeBuild/.dtbcache.v2
.vs/WeatherApp/v17/.suo
appsettings.Local.json
.vs/WeatherApp/DesignTimeBuild/.dtbcache.v2
.vs/WeatherApp/FileContentIndex/a9eac439-1aee-4551-8d30-8a5f5382a613.vsidx
.vs/WeatherApp/v17/.suo
.vs/WeatherApp/FileContentIndex/25cfbad0-aad9-4485-85dc-4228b3fc90b4.vsidx
.vs/WeatherApp/v17/.suo
.vs/WeatherApp/DesignTimeBuild/.dtbcache.v2
.vs/WeatherApp/v17/.suo
.vs/WeatherApp/FileContentIndex/e0519962-7809-4e5b-85d7-44d64447a7d9.vsidx
.vs/WeatherApp/DesignTimeBuild/.dtbcache.v2
obj/Debug/net8.0-windows/apphost.exe
obj/Debug/net8.0-windows/GeneratedInternalTypeHelper.g.cs
obj/Debug/net8.0-windows/WeatherApp_bn2byy31_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows/WeatherApp_bn2byy31_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/WeatherApp_bn2byy31_wpftmp.assets.cache
obj/Debug/net8.0-windows/WeatherApp_bn2byy31_wpftmp.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0-windows/WeatherApp_bn2byy31_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/WeatherApp_bn2byy31_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows/WeatherApp_MarkupCompile.cache
obj/Debug/net8.0-windows/WeatherApp_MarkupCompile.i.cache
obj/Debug/net8.0-windows/WeatherApp_MarkupCompile.i.lref
obj/Debug/net8.0-windows/WeatherApp_MarkupCompile.lref
obj/Debug/net8.0-windows/WeatherApp_rw5sswps_wpftmp.AssemblyInfo.cs
obj/Debug/net8.0-windows/WeatherApp_rw5sswps_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/WeatherApp_rw5sswps_wpftmp.assets.cache
obj/Debug/net8.0-windows/WeatherApp_rw5sswps_wpftmp.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0-windows/WeatherApp_rw5sswps_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/WeatherApp_rw5sswps_wpftmp.GlobalUsings.g.cs
obj/Debug/net8.0-windows/WeatherApp.AssemblyInfo.cs
obj/Debug/net8.0-windows/WeatherApp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/WeatherApp.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows/WeatherApp.dll
obj/Debug/net8.0-windows/WeatherApp.g.resources
obj/Debug/net8.0-windows/WeatherApp.pdb
obj/Debug/net8.0-windows/WeatherApp.xml
obj/Debug/net8.0-windows/Resources/Colours.baml
obj/Debug/net8.0-windows/Resources/MainDictionary.baml
obj/Debug/net8.0-windows/ref/WeatherApp.dll
obj/Debug/net8.0-windows/refint/WeatherApp.dll
obj/Debug/net8.0-windows/apphost.exe
obj/Debug/net8.0-windows/GeneratedInternalTypeHelper.g.cs
obj/Debug/net8.0-windows/WeatherApp_MarkupCompile.cache
obj/Debug/net8.0-windows/WeatherApp_MarkupCompile.i.cache
obj/Debug/net8.0-windows/WeatherApp_MarkupCompile.lref
obj/Debug/net8.0-windows/WeatherApp.AssemblyInfo.cs
obj/Debug/net8.0-windows/WeatherApp.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/WeatherApp.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows/WeatherApp.dll
obj/Debug/net8.0-windows/WeatherApp.g.resources
obj/Debug/net8.0-windows/WeatherApp.pdb
obj/Debug/net8.0-windows/WeatherApp.xml
obj/Debug/net8.0-windows/Resources/Colours.baml
obj/Debug/net8.0-windows/Resources/MainDictionary.baml
obj/Debug/net8.0-windows/ref/WeatherApp.dll
obj/Debug/net8.0-windows/refint/WeatherApp.dll
.vs/WeatherApp/DesignTimeBuild/.dtbcache.v2
.vs/WeatherApp/v17/.suo
